language: java
jdk: openjdk11
services:
- docker
before_install:
- docker run -d --name rabbit -p 5672:5672 rabbitmq:3.6
- echo "artifactory_user=${ARTIFACTORY_USERNAME}" >> ~/.gradle/gradle.properties
- echo "artifactory_password=${ARTIFACTORY_PASSWORD}" >> ~/.gradle/gradle.properties
install: true
script:
- |
  if [[ $TRAVIS_COMMIT_MESSAGE != 'SNAPSHOT UPDATE' ]]; then
    echo "artifactory_user=$ARTIFACTORY_USERNAME" >> ~/.gradle/gradle.properties
    echo "artifactory_password=$ARTIFACTORY_PASSWORD" >> ~/.gradle/gradle.properties
    ./gradlew build --info;
  fi
env:
  global:
  - SPRING_PROFILES_ACTIVE=default,integration-tests
branches:
  only:
  - master
after_success:
- bash <(curl -s https://codecov.io/bash)
- |
  set -e
  if [[ "$TRAVIS_BRANCH" = "master" ]] && [[ "$TRAVIS_PULL_REQUEST" = "false" ]] && [[ $TRAVIS_COMMIT_MESSAGE != "SNAPSHOT UPDATE" ]]; then
    echo "Currently handled by Concourse"
    # git config --global user.email "$EMAIL"
    # git config --global user.name "$UNAME"
    # git checkout master
    # num=$(($(grep "version = .*\-SNAPSHOT" build.gradle | sed -e 's/^.*\.\([0-9]*\)-.*$/\1/')+1))
    # version=$(grep "version = .*\-SNAPSHOT" build.gradle | sed -E "s/version = '(.+)-SNAPSHOT'/\\1/")
    # sed -ie "s/\(^version.*[0-9]*\.[0-9]*\.\)[0-9]*/\1${num}/" build.gradle
    # echo $version > concourse_build/version.txt
    # git add build.gradle concourse_build/version.txt
    # git commit -m "SNAPSHOT UPDATE"
    # git push https://$UNAME:$PASSWD@$REPO
  fi
